<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metrics</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Kind</th>
            <th>Value</th>
        </tr>
        {{range .Metrics}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Kind}}</td>
                <td>{{.Value}}</td>
            </tr>
        {{end}}
    </table>
</body>
</html>